## https://devices.esphome.io/devices/M5Stack-Dial
## https://docs.m5stack.com/en/core/M5Dial
## https://github.com/GinAndBacon/ESPHome-LVGL-EncoderDial/tree/main
## https://aguacatec.es/integrar-m5stack-dial-en-ha/
## sounds:   https://1j01.github.io/rtttl.js/#Bolero  +  https://rtttl.skully.tech/



substitutions:
# Device customization
# Personalización del dispositivo
  name: m5dial-01
  friendly_name: M5Dial-01
  short_name: Dial-01

  background_color: 'fab02b'
  background_image: m5dial-main-syd-01/images/syd_background_white.jpg
  background_image_saver: m5dial-main-syd-01/images/syd_bg_off.jpg
  background_image_device: m5dial-main-syd-01/images/syd_bg_device.jpg

# Icons
# Iconos
  icon_1: mdi:led-strip-variant
  icon_2: mdi:thermostat
  icon_3: mdi:robot-vacuum
  icon_4: mdi:printer
  icon_5: mdi:printer-3d-nozzle
  icon_6: mdi:fan
  icon_7: mdi:air-humidifier
  icon_8: mdi:ceiling-light

# Sounds
# Sonidos
  menu_sound: 'beep:d=64,o=5,b=255:c7'
  alarm_sound: 'xmen:d=4,o=6,b=200:16f#5,16g5,16b5,16d,c#,8b5,8f#5,p,16f#5,16g5,16b5,16d,c#,8b5,8g5,p,16f#5,16g5,16b5,16d,c#,8b5,8d,2p,8c#,8b5,2p'
  
  sound_menu_clockwise: 'menuclockwise:d=4,o=7,b=225:16c4'
  sound_menu_cclockwise: 'menucclockwise:d=4,o=7,b=225:16f4'
  sound_menu_press: 'menupress:d=2,o=7,b=225:16b4'

  sound_bolero: 'bolero:d=16,o=5,b=80,b=80:c6,8c6,b,c6,d6,c6,b,a,8c6,c6,a,4c6,8c6,b,c6,a,g,e,f,2g,g,f,e,d,e,f,g,a,4g,4g,g,a,b,a,g,f,e,d,e,d,8c,8c,c,d,8e,8f,4d,2g'
  sound_bond: '007:d=4,o=5,b=320,b=320:c,8d,8d,d,2d,c,c,c,c,8d#,8d#,2d#,d,d,d,c,8d,8d,d,2d,c,c,c,c,8d#,8d#,d#,2d#,d,c#,c,c6,1b.,g,f,1g.'
  sound_dallas: 'Dallas:d=8,o=5,b=125,b=125:e,4a.,e,4e6.,a,4c#6,b,c#6,4a,4e,4a,4f#6,4e6,c#6,d6,2e6.,p,e,4a,4f#6,4e6,c#6,d6,4e6,b,c#6,4a,4e,4a,c#6,d6,4b.,a,2a'
  sound_final: 'Final Countdown:d=16,o=5,b=125,b=125:b,a,4b,4e,4p,8p,c6,b,8c6,8b,4a,4p,8p,c6,b,4c6,4e,4p,8p,a,g,8a,8g,8f#,8a,4g.,f#,g,4a.,g,a,8b,8a,8g,8f#,4e,4c6,2b.,b,c6,b,a,1b'
  sound_flintstones: 'Flintstones:d=8,o=5,b=200,b=200:g#,4c#,p,4c#6,a#,4g#,4c#,p,4g#,f#,f,f,f#,g#,4c#,4d#,2f,2p,4g#,4c#,p,4c#6,a#,4g#,4c#,p,4g#,f#,f,f,f#,g#,4c#,4d#,2c#'
  sound_fruit: 'Fruit and Nut:d=16,o=5,b=70:d,c#,d,c#,d,p,c#,p,e,p,32d,32f#,32a,32d6,8f#.6,p,g6,f#6,g6,f#6,e6,d6,a,f#,8d.,32f#,32d6,8c#.6,p,b,b4,b4,32b4,32c#,b4,p,a4,p,b,b4,b4,32b4,32c#,b4,p,a4,p,d6,d,d,d,d,c#,e,d,d,c#,b4,a4,8g6,32e6,32c#6,32g,32e,d,c#,d,c#,d,p,c#,p,e,p,32d,32f#,32a,32d6,8f#.6,32p,g6,f#6,g6,f#6,e6,d6,a,f#,8d.,32f#,32d6,8c#.6,p,b,b4,b4,32b4,32c#,b4,p,a4,p,b,b4,b4,32b4,32c#,b4,p,a4,p,b,b4,8b4,8c#,32p,8c#,8d.'
  sound_hawaii: 'Hawaii 5 0:d=16,o=6,b=240:8g#5,p,8g#5,p,8b5,p,4d#,p,2c#.,p,2g#5.,p,8g#5,p,8g#5,p,8f#5,p,4b5,p,1g#5,4p.,8g#5,p,8g#5,p,8b5,p,4d#,p,2c#,8p,2g#.,8p,8f#,p,8f#,p,8d#,p,4b5,p,1g#.,4p,2b,p,8a,8g#,8f#,8e,8d#,8c#,8d#,8b5,2c#,4p,8c#,p,8b,8a,8g,8f#,8d#,8c#,8b5,8c#,4d#,8c#,p,4b5,p,4c#.,p,2g#,4p,8f#,p,8f#,p,8d#,p,4b5,p,1c#6'
  sound_knight: 'Knight Rider:d=32,o=5,b=63,b=63:16e,f,e,8b,16e6,f6,e6,8b,16e,f,e,16b,16e6,4d6,8p,4p,16e,f,e,8b,16e6,f6,e6,8b,16e,f,e,16b,16e6,4f6'
  sound_letitbe: 'Let it be:d=8,o=5,b=100,b=100:16e6,d6,4c6,16e6,g6,a6,g6.,16g6,g6,e6,16d6,c6,16a,g,4e6.,4p,e6,16e6,f6.,e6,e6,d6,16p,16e6,16d6,d6,2c6..'
  sound_mission: 'Mission Impossible:d=16,o=5,b=100:32d,32d#,32d,32d#,32d,32d#,32d,32d#,32d,32d,32d#,32e,32f,32f#,32g,g,8p,g,8p,a#,p,c6,p,g,8p,g,8p,f,p,f#,p,g,8p,g,8p,a#,p,c6,p,g,8p,g,8p,f,p,f#,p,a#,g,2d,32p,a#,g,2c#,32p,a#,g,2c,p,a#4,c'
  sound_mozart: 'Mozart:d=16,o=5,b=125:16d#,c#,c,c#,8e,8p,f#,e,d#,e,8g#,8p,a,g#,g,g#,d#6,c#6,c6,c#6,d#6,c#6,c6,c#6,4e6,8c#6,8e6,32b,32c#6,d#6,8c#6,8b,8c#6,32b,32c#6,d#6,8c#6,8b,8c#6,32b,32c#6,d#6,8c#6,8b,8a#,4g#,d#,32c#,c,c#,8e,8p,f#,e,d#,e,8g#,8p,a,g#,g,g#,d#6,c#6,c6,c#6,d#6,c#6,c6,c#6,4e6,8c#6,8e6,32b,32c#6,d#6,8c#6,8b,8c#6,32b,32c#6,d#6,8c#6,8b,8c#6,32b,32c#6,d#6,8c#6,8b,8a#,4g#'
  sound_muppet: 'Muppet:d=8,o=5,b=250:c6,4c6,4a,4b,a,4b,4g,4p,4c6,4c6,4a,b,a,p,4g.,4p,4e,4e,4g,4f,e,4f,c6,c,d,4e,e,e,p,e,4g,2p,4c6,4c6,4a,4b,a,4b,4g,4p,4c6,4c6,4a,b,4a,4g.,4p,4e,4e,4g,4f,e,4f,c6,c,d,4e,e,4d,d,4c'
  sound_newyear: 'New Year:d=8,o=5,b=125,b=125:a4,4d.,d,4d,4f#,4e.,d,4e,f#,e,4d.,d,4f#,4a,2b.,4b,4a.,f#,4f#,4d,4e.,d,4e,f#,e,4d.,b4,4b4,4a4,2d,16p'
  sound_popcorn: 'Popcorn:d=16,o=5,b=160:a,p,g,p,a,p,e,p,c,p,e,p,8a4,8p,a,p,g,p,a,p,e,p,c,p,e,p,8a4,8p,a,p,b,p,c6,p,b,p,c6,p,a,p,b,p,a,p,b,p,g,p,a,p,g,p,a,p,f,8a,8p,a,p,g,p,a,p,e,p,c,p,e,p,8a4,8p,a,p,g,p,a,p,e,p,c,p,e,p,8a4,8p,a,p,b,p,c6,p,b,p,c6,p,a,p,b,p,a,p,b,p,g,p,a,p,g,p,a,p,b,4c6'
  sound_quofnigt: 'QuoFNigt:d=8,o=5,b=160:16a,16g,16a,16a#,c6,c6,c6,c6,c6,c6,c6,c6,4f.,4p,32f,16e,16f,16g,a,a,a,a,a,a,a,a,4d.,4p,16d,16c,16d,16e,f,f,f,c,g,g,g,c,a,f,a,c6,f6,c6,d6,a#,c6,f,a,c6,f6,c6,d6,a#,4c6,4p,4f.,f,4a4,4p,4e,4p,f,g,f,a,a#,a,f,g,f,d,e,d,c#,d,c#,a4,b4,a4,c#,d,c#,e,f,e,f,g,f,a,a#,a,f,g,f,d,e.'
  sound_rudolf: 'Rudolph the Red Nosed Raindeer:d=8,o=5,b=250:g,4a,g,4e,4c6,4a,2g.,g,a,g,a,4g,4c6,2b.,4p,f,4g,f,4d,4b,4a,2g.,g,a,g,a,4g,4a,2e.,4p,g,4a,a,4e,4c6,4a,2g.,g,a,g,a,4g,4c6,2b.,4p,f,4g,f,4d,4b,4a,2g.,g,a,g,a,4g,4d6,2c.6,4p,4a,4a,4c6,4a,4g,4e,2g,4d,4e,4g,4a,4b,4b,2b,4c6,4c6,4b,4a,4g,4f,2d,g,4a,g,4e,4c6,4a,2g.,g,a,g,a,4g,4c6,2b.,4p,f,4g,f,4d,4b,4a,2g.,4g,4a,4g,4a,2g,2d6,1c.6.'
  sound_startrek: 'Star Trek:d=16,o=5,b=63,b=63:8f.,a#,4d#6.,8d6,a#.,g.,c6.,4f6'
  sound_starwars: 'Star Wars:d=8,o=6,b=180,b=180:f5,f5,f5,2a#5.,2f.,d#,d,c,2a#.,4f.,d#,d,c,2a#.,4f.,d#,d,d#,2c,4p,f5,f5,f5,2a#5.,2f.,d#,d,c,2a#.,4f.,d#,d,c,2a#.,4f.,d#,d,d#,2c'
  sound_takeonme: 'Take On Me:d=8,o=5,b=160,b=160:f#,f#,f#,d,p,b4,p,e,p,e,p,e,g#,g#,a,b,a,a,a,e,p,d,p,f#,p,f#,p,f#,e,e,f#,e,f#,f#,f#,d,p,b4,p,e,p,e,p,e,g#,g#,a,b,a,a,a,e,p,d,p,f#,p,f#,p,f#,e,e5'
  sound_theateam: 'The A Team:d=8,o=5,b=132,b=132:4d#6,a#,2d#6,16p,g#,4a#,4d#.,p,16g,16a#,d#6,a#,f6,2d#6,16p,c#6.,16c6,16a#,g#.,2a#.'
  sound_titanic: 'Titanic:d=8,o=6,b=120,b=120:c,d,2e.,d,c,d,g,2g,f,e,4c,2a5,g5,f5,16d5,16e5,2d5,p,c,d,2e.,d,c,d,g,2g,e,g,2a,2g,16d,16e,2d.'
  sound_vanessamae: 'Vanessa Mae:d=16,o=5,b=140:c6,b,8c6,g,p,g,p,d#,p,d#,p,c,p,c,p,c6,b,8c6,g#,p,g#,p,f,p,8f,c,p,c,p,c6,b,8c6,g,p,g,p,d#,p,d#,p,c,p,c,p,g,f,d#,d,c,d,d#,c,d#,f,8g,8p,8d6,c6,d6,a#,d6,a,d6,g,d6,d6,p,d6,p,d6,p,8d6,c6,d6,a#,d6,a,d6,g,d6,d6,p,d6,p,d6,p,g,f,d#,d,c,d,d#,c,d#,f,4c.'
  sound_waltons: 'Waltons:d=4,o=5,b=120:8d,8d,g,a,b,1b.,2p,8d,8d,g,a,b,2b,1c#.6,8a,8a,e6,d6,c#6,2d.6,1a,p,8a,8a,a,b.,8c6,1b.,2p,8d,8d,g,a,b,1b.,2p,8d,8d,g,a,b,2b,1c#.6,8a,8a,e6,d6,c#6,2d.6,1a,p,8a,8a,a,b.,8a,1g.,2p,a,2b,d6,2e.6,2f.6,2g6,8e6,8e6,g6,f6,e6,1d.6,2p,8d6,8d6,f6,e6,d6,1a.,2p,8a,8b,c6,d6,c6,1b.,2p,a,2b,d6,2e.6,2f.6,2g.6,g6,f#6,e6,2g.6,1d6,p,8d6,8d6,g6,f6,e6,1c.6,2p,8a,8a,d6,c6,b,1g.,2p,8d,8d,g,a,b,1b.,2p,8d,8d,g,a,b,2b,1c#.6,8a,8a,e6,d6,c#6,2d.6,1a,p,8a,8a,a,b.,8a,1g..'

# NFC/RFID Tags
# Etiquetas NFC/RFID
#  tag1: C3-DB-4F-28
#  tag2: 03-55-E5-13
# Other settings
# Otros ajustes
  allowed_characters: " ¿?¡!#%'()+,-./:°0123456789ABCDEFGHIJKLMNOPQRSTUVWYZabcdefghijklmnopqrstuvwxyzáéíóú"
################################################################################################################


esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
  on_boot:
    then:
      - pcf8563.read_time:
      - display.page.show: home
      - lambda: 'id(current_page) = "home";'
  platformio_options:
    board_build.flash_mode: dio

esp32:
  board: esp32-s3-devkitc-1
  flash_size: 8MB
  framework:
    type: esp-idf



# Enable Home Assistant API
api:
  encryption:
#    key: "tEBGrpth5CDdrDidl4Ur1gFNoSOWIg0aeUmV/1s5wmg="
    key: !secret api_encryption_key
  services:
    - service: play_sound
      variables:
        song: string
        volume: int 
      then:
        - lambda: "id(script_rtttl_play).execute(song, volume);"


ota:
  - platform: esphome
    password: !secret ota_encrpytion_key 

wifi:
  # ssid: !secret wifi_ssid
  # password: !secret wifi_password
  # ssid: ReseauTemplier2
  # password: K5Zt53rT&4428
  fast_connect: !secret wifi2_fast_connect
  # power_save_mode: !secret wifi2_power_save_mode
  networks:
  - ssid: !secret wifi2_ssid
    password: !secret wifi2_password
    priority: !secret wifi2_priority
  - ssid: !secret wifi2_ssid_2
    password: !secret wifi2_password_2
    priority: !secret wifi2_priority_2
  - ssid: !secret wifi2_ssid_3
    password: !secret wifi2_password_3
    priority: !secret wifi2_priority_3
  - ssid: !secret wifi2_ssid_4
    password: !secret wifi2_password_4
    priority: !secret wifi2_priority_4
  - ssid: !secret wifi2_ssid_5
    password: !secret wifi2_password_5
    priority: !secret wifi2_priority_5
  domain: !secret wifi2_domain
  

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${short_name} Fallback Hotspot"
    password: !secret ap_password



script:
  - id: script_rtttl_play
    parameters:
      song: string
      volume: int 
    mode: single
    then:
      - lambda: |-
          float volume_f = (volume>0) ? ((float)clamp(volume, 0, 100))/100.0f : 1.0f;
          id(buzzer).set_max_power(volume_f);
      - rtttl.play:
          rtttl: !lambda 'return (song.find('':'') == std::string::npos) ? ("song:d=16,o=5,b=100:" + song).c_str() : song.c_str();'


  - id: script_play_sound
    parameters:
      rtttlsong: string
    mode: single
    then:
      - if:
          condition:
            switch.is_on: menu_sounds
          then:
#          - rtttl.play: ${rtttlsong}
          - rtttl.play: 
              rtttl: !lambda 'return rtttlsong;'

  - id: play_selected_sound
    parameters:
      rtttlsong: string
    mode: single
    then:
      - if:
          condition:
            lambda: 'return rtttlsong.length() > 0;'
          then:
            - rtttl.play:
                rtttl: !lambda 'return rtttlsong;'

  - id: wake_up_display
    then:
      - switch.turn_on: syd_display
      - light.turn_on:
          id: backlight
          brightness: 100%
      - display.page.show: home
      - lambda: 'id(current_page) = "home";'

logger:

captive_portal:

## das ist zuviel fuer das board!!!
## M5 Dial sollte dies auch zusätzlich können. !!!
# ➤ BLE-Tracker aktivieren
# esp32_ble_tracker:
# ➤ Optional: BLE-Proxy für Home Assistant aktivieren
# bluetooth_proxy:
#  active: true

