## https://devices.esphome.io/devices/M5Stack-Dial
## https://docs.m5stack.com/en/core/M5Dial
## https://github.com/GinAndBacon/ESPHome-LVGL-EncoderDial/tree/main

substitutions:
  name: m5dial-01
  friendly_name: M5Dial-01
  short_name: Dial-01


esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}

  on_boot:
    then:
      - pcf8563.read_time:
  platformio_options:
    board_build.flash_mode: dio


esp32:
  board: esp32-s3-devkitc-1
  framework:
    type: esp-idf



# Enable logging
logger:

  
# Enable Home Assistant API
api:
  encryption:
#    key: "tEBGrpth5CDdrDidl4Ur1gFNoSOWIg0aeUmV/1s5wmg="
    key: !secret api_encryption_key


ota:
  - platform: esphome
    password: !secret ota_encrpytion_key 

wifi:
  # ssid: !secret wifi_ssid
  # password: !secret wifi_password
  # ssid: ReseauTemplier2
  # password: K5Zt53rT&4428
  fast_connect: !secret wifi2_fast_connect
  # power_save_mode: !secret wifi2_power_save_mode
  networks:
  - ssid: !secret wifi2_ssid
    password: !secret wifi2_password
    priority: !secret wifi2_priority
  - ssid: !secret wifi2_ssid_2
    password: !secret wifi2_password_2
    priority: !secret wifi2_priority_2
  - ssid: !secret wifi2_ssid_3
    password: !secret wifi2_password_3
    priority: !secret wifi2_priority_3
  - ssid: !secret wifi2_ssid_4
    password: !secret wifi2_password_4
    priority: !secret wifi2_priority_4
  - ssid: !secret wifi2_ssid_5
    password: !secret wifi2_password_5
    priority: !secret wifi2_priority_5
  domain: !secret wifi2_domain
  

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${short_name} Fallback Hotspot"
    password: !secret ap_password


captive_portal:



i2c:
  - id: internal_i2c
    sda: GPIO11
    scl: GPIO12

rc522_i2c:
  - id: nfc_reader
    i2c_id: internal_i2c
    address: 0x28

output:
  - platform: ledc
    pin: GPIO3
    id: buzzer
  - platform: ledc
    pin: GPIO9
    id: backlight_output

rtttl:
  output: buzzer

sensor:
  - platform: rotary_encoder
    id: encoder
    pin_a: GPIO40
    pin_b: GPIO41

time:
  # RTC
  - platform: pcf8563
    id: rtctime
    i2c_id: internal_i2c
    address: 0x51
    update_interval: never
  - platform: homeassistant
    id: esptime
    on_time_sync:
      then:
        - pcf8563.write_time:

binary_sensor:
  - platform: gpio
    name: Button
    id: front_button
    pin: GPIO42

  - platform: gpio
    name: Hold Button
    pin: GPIO46

spi:
  id: spi_bus
  mosi_pin: GPIO5
  clk_pin: GPIO6

display:
  - platform: ili9xxx
    id: round_display
    invert_colors: false
    model: GC9A01A
    cs_pin: GPIO7
    reset_pin: GPIO8
    dc_pin: GPIO4

touchscreen:
  - platform: ft5x06
    id: touch
    i2c_id: internal_i2c
    address: 0x38
    # interrupt_pin: GPIO14  # not supported by this component

light:
  - platform: monochromatic
    name: "Backlight"
    output: backlight_output
    id: display_backlight
    default_transition_length: 2s

text_sensor:
  - platform: version
    hide_timestamp: true
    name: "${friendly_name} ESPHome Version"
    entity_category: diagnostic
  - platform: wifi_info
    ip_address:
      name: "${friendly_name} IP Address"
      icon: mdi:wifi
      entity_category: diagnostic
    ssid:
      name: "${friendly_name} Connected SSID"
      icon: mdi:wifi-strength-2
      entity_category: diagnostic

