esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}


esp32:
  board: m5stack-atom
  framework:
    type: arduino


# Enable logging
logger:

# Package to find devices if not labeled
packages:
  # identify: !include ./m5-identify-me.yaml
  # identify: !include common-m5-stuff/m5-identify-me.yaml
  # bleadvertise: !include ./m5atom-ble-advertise-01.yaml       # - klemmt zusammen mit dem scanner - allenfalls später weitermachen.
  # beacon: !include ./m5atom-ble-beacon-01.yaml                # sendet nur ein beacon - ibeacon sieht es und bermuda ebenfalls
  # position: !include ./m5atom-ble-position-01.yaml


# Enable Home Assistant API
api:
  encryption:
#    key: "tEBGrpth5CDdrDidl4Ur1gFNoSOWIg0aeUmV/1s5wmg="
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_encrpytion_key 

wifi:
  # ssid: !secret wifi_ssid
  # password: !secret wifi_password
  # ssid: ReseauTemplier2
  # password: K5Zt53rT&4428
  fast_connect: !secret wifi2_fast_connect
  # power_save_mode: !secret wifi2_power_save_mode
  networks:
  - ssid: !secret wifi2_ssid
    password: !secret wifi2_password
    priority: !secret wifi2_priority
  - ssid: !secret wifi2_ssid_2
    password: !secret wifi2_password_2
    priority: !secret wifi2_priority_2
  - ssid: !secret wifi2_ssid_3
    password: !secret wifi2_password_3
    priority: !secret wifi2_priority_3
  - ssid: !secret wifi2_ssid_4
    password: !secret wifi2_password_4
    priority: !secret wifi2_priority_4
  - ssid: !secret wifi2_ssid_5
    password: !secret wifi2_password_5
    priority: !secret wifi2_priority_5
  domain: !secret wifi2_domain

  

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${short_name} Fallback Hotspot"
    password: !secret ap_password


captive_portal:

time:
  - platform: homeassistant
    id: esptime


uart:
  id: uart_bus
  tx_pin: 23
  rx_pin: 22
  baud_rate: 9600

globals:
  - id: barcode_buffer
    type: std::string
    initial_value: '""'

output:
  - platform: gpio
    pin: 33   # Falls 33 nicht reagiert → versuch 32 oder 26 oder 25
    id: illumination_led

light:
  - platform: fastled_clockless
    chipset: SK6812
    pin: 27
    num_leds: 1
    rgb_order: GRB
    name: "Status LED"
    id: status_led
    restore_mode: ALWAYS_OFF

binary_sensor:
  - platform: gpio
    pin: 39
    name: "Scan Button"
    on_press:
      then:
        - logger.log: "Button pressed – enabling focus and illumination LEDs"
        - output.turn_on: illumination_led
        - light.turn_on:
            id: status_led
            red: 1.0
            green: 1.0
            blue: 1.0
        - delay: 2s
        - output.turn_off: illumination_led
        - light.turn_off: status_led

text_sensor:
  - platform: template
    name: "Barcode Scanner"
    id: barcode_sensor



interval:
  - interval: 100ms
    then:
      - lambda: |-
          uint8_t byte;
          while (id(uart_bus).available()) {
            if (id(uart_bus).read_byte(&byte)) {
              char c = static_cast<char>(byte);
              if (c == '\r' || c == '\n') {
                if (!id(barcode_buffer).empty()) {
                  id(barcode_sensor).publish_state(id(barcode_buffer));
                  ESP_LOGI("barcode", "Scan: %s", id(barcode_buffer).c_str());

                  // LED: Green
                  id(status_led).turn_on().set_rgb(0, 255, 0);
                  delay(300);
                  id(status_led).turn_off();

                  id(barcode_buffer).clear();
                } else {
                  // LED: Red
                  id(status_led).turn_on().set_rgb(255, 0, 0);
                  delay(300);
                  id(status_led).turn_off();
                }
              } else {
                id(barcode_buffer) += c;
              }
            }
          }

