


###   https://de.aliexpress.com/item/1005008294713953.html?spm=a2g0o.order_list.order_list_main.53.5a775c5fi8wXXL&gatewayAdapt=glo2deu
###   https://spotpear.com/shop/ESP32-S3R8-1.46-inch-Round-LCD-Display-GC9A01-Gyro-QMI8658-Sensor-MIC-Micro-SD-Speaker-LVGL-HMI-Arduino-Python/ESP32-S3-Touch-LCD-1.46.html
###   https://spotpear.com/wiki/ESP32-S3R8-1.46-inch-Round-LCD-Display-GC9A01-Gyro-QMI8658-Sensor-MIC-Micro-SD-Speaker-LVGL-HMI-Arduino-Python.html
###   https://www.waveshare.com/wiki/ESP32-S3-Touch-LCD-1.46B
###   https://community.home-assistant.io/t/waveshare-esp32-s3-touch-lcd-1-46b/884701
###   https://github.com/gjdodd/esphome-packages/blob/6725370f5c08b656b2cc16343e1dfd0a98424269/waveshare-esp32-s3-touch-lcd-146b.yaml
###   This product is a microcontroller development board that supports 2.4GHz Wi-Fi and Bluetooth BLE 5. It integrates large-capacity Flash
###   and PSRAM, and has an onboard 1.46-inch touch LCD screen. It can run GUI interface programs such as LVGL smoothly. Combined with a
###   variety of peripheral interfaces, it can quickly develop applications such as HMI of ESP32-S3.
###   Equipped with ESP32-S3R8 high-performance Xtensa 32-bit LX7 dual-core processor, with a main frequency of up to 240MHz
###   Supports 2.4 GHz Wi-Fi (802.11 b/g/n) and Bluetooth 5 (LE), with onboard antenna
###   Built-in 512 KB SRAM and 384 KB ROM, stacked 8 MB PSRAM and onboard 16 MB Flash (supports access to expansion devices)
###   Uses Type-C interface to improve user convenience and device compatibility
###   Onboard 1.46-inch LCD screen, resolution 412 × 412, 16.7M color
###   Supports I2C interface to control touch, supports interrupts
###   Lead out UART, I2C and some IO interfaces
###   Onboard QMI8658 six-axis inertial measurement unit (3-axis acceleration, 3-axis gyroscope), which can detect motion posture, step
###   counting and other functions
###   Onboard PCF85063 RTC Chip, can achieve uninterrupted power supply through external battery, ensure RTC function continues to work when
###   replacing the main battery
###   Onboard PWR, BOOT two customizable side buttons, buttons can be used for custom function development
###   Onboard 3.7V MX1.25 lithium battery charging and discharging interface
###   Onboard Micro SD card slot for extended storage and fast data transmission, with flexibility, suitable for data recording and media
###   playback, simplifying circuit design
###   Supports flexible clock, multiple power modes and other accurate control, to achieve multi-scenario low power mode
###   Bring out multiple GPIO pins, can be mapped to a variety of functional interfaces, convenient for customer custom development



substitutions:
  name: esp32-touch03
  friendly_name: esp32-touch03
  short_name: Esp32-touch03

esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}

esp32:
  board: esp32-s3-devkitc-1
  variant: esp32s3
  flash_size: 16MB
  framework:
    type: arduino
#  on_boot:
#    then:
#      - display.clear: []

esp32_touch:




#####################################################################################
# Enable Home Assistant API
api:
  encryption:
#    key: "tEBGrpth5CDdrDidl4Ur1gFNoSOWIg0aeUmV/1s5wmg="
    key: !secret api_encryption_key

ota:
  - platform: esphome
    password: !secret ota_encrpytion_key 

wifi:
  # ssid: !secret wifi_ssid
  # password: !secret wifi_password
  # ssid: ReseauTemplier2
  # password: K5Zt53rT&4428
  fast_connect: !secret wifi2_fast_connect
  # power_save_mode: !secret wifi2_power_save_mode
  networks:
  - ssid: !secret wifi2_ssid
    password: !secret wifi2_password
    priority: !secret wifi2_priority
  - ssid: !secret wifi2_ssid_2
    password: !secret wifi2_password_2
    priority: !secret wifi2_priority_2
  - ssid: !secret wifi2_ssid_3
    password: !secret wifi2_password_3
    priority: !secret wifi2_priority_3
  - ssid: !secret wifi2_ssid_4
    password: !secret wifi2_password_4
    priority: !secret wifi2_priority_4
  - ssid: !secret wifi2_ssid_5
    password: !secret wifi2_password_5
    priority: !secret wifi2_priority_5
  domain: !secret wifi2_domain
  

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "${short_name} Fallback Hotspot"
    password: !secret ap_password

#####################################################################################

captive_portal:

#####################################################################################
#####################################################################################



logger:
  level: DEBUG


i2c:
  sda: GPIO11
  scl: GPIO10
  scan: true
  id: touch_bus

spi:
  clk_pin: GPIO17
  mosi_pin: GPIO15

display:
  - platform: ili9xxx
    model: ST7789V
    invert_colors: true
    cs_pin: GPIO21
    dc_pin: GPIO20
    reset_pin: GPIO18
    update_interval: 1s
    lambda: |-
      it.print(10, 10, id(font_small), "Hello ST7789V");


font:
  - file: "gfonts://Roboto"
    id: font_small
    size: 16


# touchscreen:
#  - platform: custom
#    id: touch_spd2010
#    display: my_display
#    lambda: |-
#      auto touch = new SPD2010Touch(id(touch_bus), /*address=*/0x38);
#      return {touch};
#    update_interval: 100ms
#    on_update:
#      then:
#        - logger.log:
#            format: "Touch at x={{x}}, y={{y}}"

binary_sensor:
  - platform: esp32_touch
    name: "Pad Touched"
    id: pad1
    pin: GPIO3
    threshold: 30  # <-- Gültiger ganzzahliger Schwellenwert
    filters:
      - delayed_on: 50ms
      - delayed_off: 200ms


globals:
  - id: connected
    type: bool
    initial_value: 'false'

